<div class="profile-form">
    <%= form_for(@user) do |f| %>
    <h2>
    プロフィール編集
    </h2>
    <%= f.label :nickname, "ニックネーム" %><br>
    <%= f.text_field :nickname %><br>
    <%= f.submit "送信" %>
    <% end %>
</div>